/*
    Autor: SusanaGE
    Fecha: 03/02/2021
*/

/*Marcar posición*/
#navegacion li:nth-of-type(3) a{
    background-color:var(--beige);
    color: var(--azul-oscuro);
    text-shadow: none;
    font-weight: bold;
}
/**Móvil**/
form {
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
}
/*Padding en los fieldset menos en los botones*/
form fieldset:not(:last-of-type) {
    padding: 1em 2% 1em 5%;
}
/*Módulos de cada ciclo*/
form fieldset fieldset {
    border: hidden;
    display: grid;
    grid-template-columns: 1fr;
}
/*Margen entre ciclos*/
form fieldset:not(:first-of-type) {
    margin-top: 1em;
}
/*Botones vaciar y añadir*/
form #botones {
    border: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/*Distribución campos del fieldset datos*/
form fieldset:first-of-type>div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9,1fr);
}
form fieldset:first-of-type>div>label{
    display: grid;
    grid-template-columns: 35% 60%;
    margin-bottom: 1em;
}
form fieldset:first-of-type>div label{
    padding-left: 5%;
}

/**Tablet**/
@media screen and (min-width: 576px) {
    /*Módulos de cada ciclo*/
    form fieldset fieldset {
        grid-template-columns: 1fr 1fr;
    }
    /*Padding en los fieldset menos en los botones*/
    form fieldset:not(:last-of-type) {
        padding: 1em 2%;
    }
    /*Distribución campos del fieldset datos*/
    form fieldset:first-of-type>div{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4,1fr);
    }

}
/**Escritorio**/
@media screen and (min-width: 768px) {
    /*Módulos de cada ciclo*/
    form fieldset fieldset {
        grid-template-columns: 1fr 1fr 1fr;
    }
    /*Distribución campos del fieldset datos*/
    form fieldset:first-of-type>div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4,1fr);
    }
    form fieldset:first-of-type>div>div{
        grid-row:4/5;
    }
}
