/*
    Autor:SusanaGE
    Fecha: 04-01-2021
*/
form button {
    padding: 0.4em 3%;
    margin-top: 0.5em;
    margin-left: 3%;
    background-color: var(--azul-claro);
    color: var(--azul-oscuro);
    border-radius: 0.4em;
    font-family: var(--sans-serif), sans-serif;
    box-shadow: 2px 3px 10px var(--azul-oscuro);
    transition: background-color 0.5s linear;
}
form button:hover,
form button:focus {
    background-color: var(--azul);
    color: #ffffff;
    box-shadow: 0 1px 2px var(--azul-oscuro);
}