/*
    Autor: SusanaGE
    Fecha: 16-12-2020
*/
footer{
    padding-bottom: 1em;
    background-color: var(--azul-oscuro);
    font-family: var(--sans-serif) , sans-serif;
    font-size: 0.8em;
    text-align: center;
    color: var(--azul-claro);
}
/*Enlaces imagenes*/
footer>a img{
    margin-top: 1em;
    height: 50px;
}
footer>a:nth-of-type(2) img{
    width: 350px;
}

/*Enlaces texto*/
footer nav {
    height: 25%;
    padding-bottom: 1em;
}
footer nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer nav li{
    padding-top: 1em;
}
footer nav a {
    min-width: 150px; 
    border-right: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer nav li:last-of-type a{
    border:none;
}
footer li a:hover,
footer li a:focus {
    color: var(--beige);
    text-decoration: underline;
}